.feed-card{
    background: #fff;
    color: #000;
    display: flex;
    padding: 5px;
    border-radius: 10px;
    align-items: center;
}
.feed-title{
    font-size: 1.5rem;
}
.pagination-wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 0px;
}