.dialog-wrapper{
    position: fixed;
    left: 0;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 100;
}
.dialog-box{
    width: 40vw;
    height: 50vh;
    border-radius: 20px;
    position: relative;
    background-color: #0000003c;
}
.dialog-text{
    font-size: 2rem;
    color: white;
    font-weight: bold;
    text-align: center;
    margin: 10px 0px;
}
.dialog-text span{
    color: rgb(224, 213, 0);
}